
@{
    ViewBag.Title = "Tools";
}

<h2>Tools</h2>

<div class="row">
    <div class="col-md-4">
        <h2>SQL Dependency Tool</h2>
        <p>
            Need to search everything related to a column,table or anything?
            Search all within your database as easy as a click. Try now.
        </p>
        <p>
            <a class="btn btn-default" href="http://www73.zippyshare.com/v/o5q5MYWX/file.html" target="_blank" style="color: #fff; background-color: #e69857; border-color: #e37312;background-image: linear-gradient(#e69857, #e37312)">Download &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>DevOps Forecast Tool</h2>
        <p>Get your SOW-PO forecast in a few clicks!</p>
        <p>
            <a class="btn btn-default" href="http://www73.zippyshare.com/v/qcruHohj/file.html" target="_blank" style="color: #fff; background-color: #e69857; border-color: #e37312;background-image: linear-gradient(#e69857, #e37312)">Download &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Environment Fixer v2.0 (beta)</h2>
        <p>A tool to resolve issues related to navisite environments!</p>
        <p>
            <a class="btn btn-default" href="http://www73.zippyshare.com/v/EHkCNu6A/file.html" target="_blank" style="color: #fff; background-color: #e69857; border-color: #e37312;background-image: linear-gradient(#e69857, #e37312)">Download &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3><b></b>Download all from GitHub.</h3> <a class="btn btn-default" style="color: #fff; background-color: #569e3d; border-color: #4a993e;background-image: linear-gradient(#79d858, #569e3d)" href="https://github.com/iqans/MyTools/archive/master.zip" target="_blank">All Tools Master Zip &raquo;</a>
    </div>
</div>

